@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/variables-dark";

$enable-rounded: false;
@import "variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $contest-colors);

@import "node_modules/bootstrap/scss/maps";
$theme-colors-text: map-merge($theme-colors-text, $contest-colors-text-emphasis);
$theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, $contest-colors-bg-subtle);
$theme-colors-border-subtle: map-merge($theme-colors-border-subtle, $contest-colors-border-subtle);

$theme-colors-text-dark: map-merge($theme-colors-text-dark, $contest-colors-text-dark);
$theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, $contest-colors-bg-subtle-dark);
$theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, $contest-colors-border-subtle-dark);

@import "node_modules/bootstrap/scss/bootstrap";
